/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $sidebar-background-color;
    color: $text-color-white;
    transition: all 0.3s;

    .sidebar-header {
        background: rgba(85, 85, 85, 0.5);
    }

    &.active {
        margin-left: -250px;
    }

    ul {
        li {
            a {
                padding: 15px;
                font-size: 1.1em;
                display: block;

                &:hover {
                    color: $sidebar-background-color;
                    background: $text-color-white;
                }
            }
        }
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarToggler {
        display: initial;
    }
}
